@charset "UTF-8";
:root {
  --primary-color: #fff;
  --primary-color-darken: #bbb;
  --accent-color: #2c2c2c;
  --accent-color-darken: rgb(37, 37, 37);
  --box-shadow: rgba(0, 0, 0, 0.2);
  --border: rgba(0, 0, 0, 0.15);
  --heading-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--accent-color);
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

* {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  color: var(--primary-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

input,
a,
button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4 {
  padding: 4px;
  font-family: var(--heading-font);
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--text-color-lighten);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

header {
  opacity: 0;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 2%;
  right: 30px;
  z-index: 10;
}
header img {
  padding: 24px;
  max-width: 450px;
  margin: auto;
}
header nav {
  margin: auto;
  width: inherit;
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  padding: 24px;
  width: inherit;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  z-index: 10000;
}
header nav ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 20px;
  transition: all 0.4s ease-out;
}
header nav ul li::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 2px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: var(--primary-color-darken);
  transition: all 0.4s ease-out;
}
header nav ul li::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--primary-color-darken);
  transition: all 0.4s ease-out;
}
header nav ul li:hover, header nav ul li.active {
  padding-right: 24px;
}
header nav ul li:hover span, header nav ul li.active span {
  opacity: 1;
}
header nav ul li:hover::before, header nav ul li.active::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -8px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  border: 1px solid var(--primary-color);
  background: transparent;
}

.nav-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.nav-item span {
  position: relative;
  z-index: 9;
}
.nav-item span::before {
  position: absolute;
  width: 100%;
  height: 1px;
  z-index: 0;
  left: 0;
  bottom: 0;
  content: "";
  transform: scaleX(0);
  transform-origin: center center;
  background: var(--primary-color);
  transition: transform 500ms;
}
.nav-item span:hover::before {
  transform: scaleX(1);
  transform-origin: center center;
}

main {
  width: 100%;
  display: block;
}
main .container {
  max-width: 1600px;
  min-height: 100vh;
  margin: auto;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
}
main .heading-wrapper {
  display: flex;
  flex-direction: column;
}
main .heading-name {
  font-size: 50px;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 500ms ease-in, opacity 1s ease-in;
}
main .heading-title {
  font-size: 48px;
  text-align: center;
}
main .heading-subtitle {
  font-size: 28px;
}
main .heading-desc {
  font-size: 24px;
}
main .home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .home-images {
  width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 8px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
main .home-detail {
  width: 300px;
}
main .home-links {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
main .home-links button {
  display: inline-block;
  padding: 12px 16px;
  margin-right: 20px;
  position: relative;
  background: transparent;
}
main .home-links button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  z-index: 0;
  background: transparent;
  transition: transform 300ms ease-out;
}
main .home-links button a {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
main .home-links button:hover a {
  color: black;
}
main .home-links button:hover::after {
  background-color: var(--primary-color);
  transform: scaleX(0.9);
}
main .home .type-writter {
  margin: auto;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  height: 120px;
}
main .home .type-writter .txt {
  position: relative;
}
main .home .type-writter .txt::after {
  content: " ";
  position: relative;
  right: -3px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--primary-color);
  opacity: 1;
}
main .home .type-writter .txt-animation::after {
  animation: sparkling 1s linear infinite;
}
main .about {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
}
main .about-image {
  margin: 8px;
  display: flex;
  justify-content: center;
}
main .about-image img {
  height: auto;
  width: 250px;
  object-fit: contain;
  margin-bottom: 8px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
main .about-desc {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: var(--box-shadow);
  border-radius: 8px;
}
main .about-desc p {
  padding: 12px 16px;
  font-size: 18px;
}
main .skills section {
  width: inherit;
  margin: 16px 0;
  display: grid;
  padding: 16px;
}
main .skills section div {
  background-color: var(--box-shadow);
  margin: 8px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-out;
}
main .skills section div img {
  width: 80px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
main .skills section div span {
  bottom: 0;
}
main .projects section {
  margin: 16px 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
}
main .projects section div {
  background-color: var(--box-shadow);
  margin: 8px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .projects section div img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 8px;
  transform: translateY(50px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
main .projects section div span {
  bottom: 0;
}
main .contacts section {
  width: inherit;
  margin: 16px 0;
  display: grid;
  padding: 16px;
  grid-template-rows: repeat(auto-fill);
}
main .contacts section div {
  background-color: var(--box-shadow);
  margin: 8px;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 500ms ease-out;
}
main .contacts section div img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  transform: translateX(-50px);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
main .contacts section div a {
  bottom: 0;
  padding: 0 16px;
}

footer {
  margin: auto;
  width: 100%;
  border-top: 1px solid var(--primary-color);
}
footer ul {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 4px 8px;
}
footer ul a span:first-child {
  position: relative;
  top: -2px;
  width: 15px;
}
footer ul a:hover {
  background-color: var(--primary-color);
}
footer ul a:hover span {
  color: black;
}

.is-in {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

@keyframes sparkling {
  50% {
    opacity: 0;
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@media screen and (min-width: 576px) {
  header {
    opacity: 1;
  }

  main .heading-subtitle {
    font-size: 40px;
  }
  main .home-content {
    align-items: center;
  }
  main .home-detail {
    width: 500px;
  }
  main .home-images {
    width: 500px;
    height: auto;
    padding: 50px;
  }
  main .home .type-writter {
    flex-direction: row;
  }
  main .home .type-writter .txt {
    padding-left: 8px;
  }
  main .about-image img {
    width: 500px;
  }
  main #skills section {
    grid-template-columns: repeat(auto-fill, 33%);
  }
  main #projects section {
    grid-template-columns: repeat(auto-fill, 50%);
  }
  main #projects section div img {
    width: 100%;
  }
}
@media screen and (min-width: 1037px) {
  main .heading-title, main .heading-subtitle {
    font-size: 64px;
  }
  main .home-detail {
    width: 600px;
  }
  main .home-image {
    order: 2;
  }
}
@media screen and (min-width: 1300px) {
  main .home-content {
    justify-content: space-between;
  }
  main .home-image {
    order: 2;
  }
  main .home-images {
    width: 700px;
  }
  main .home .type-writter {
    flex-direction: row;
  }
  main .home .type-writter .txt {
    padding-left: 8px;
  }
  main .about-image {
    padding: 50px;
  }
  main .about-images {
    width: 700px;
  }
  main #skills section {
    grid-template-columns: repeat(auto-fill, 20%);
  }
  main #projects section {
    grid-template-columns: repeat(auto-fill, 33%);
  }
  main #projects section div img {
    width: 100%;
  }
}
